    body {
      background-color:#556B2F;
      color: white;
      font-family: Arial;
    }

    .title {
      font-size: 30px;
      font-weight: bold;
    }

    .move-icon {
      height: 50px;
    }

    .move-button {
      background-color: transparent;
      border: 4px solid white;
      width: 120px;
      height: 120px;
      border-radius: 60px;
      margin-right: 10px;
      cursor: pointer;
    }

    .result{
      font-size: 25px;
      font-weight: bold;
      margin-top: 50px;
    }

    .score {
      margin-top: 60px;
    }

    .reset-score-button {
      background-color: #8B0000;
      border: none;
      font-size: 15px;
      padding: 12px 20px;
      cursor: pointer;

    }